.App {
  text-align: center;
}

.cab{
  color: white;
}
.Hora{
  
  color: white;
}
.btn{
  border-color: transparent;
}
.botones1{
  border-color: transparent;
  margin: 15px;
  width: 77%;
  height: 235PX;
  background-image: url('./assets/img/klipartz.com.png');
  
}

.botones1:hover {

  box-shadow: inset 0 0 0 3px cyan;
  }
  .botones2:hover {

    box-shadow: inset 0 0 0 3px cyan;
    }

    .botones3:hover {

      box-shadow: inset 0 0 0 3px cyan;
      }

      .botones4:hover {

        box-shadow: inset 0 0 0 3px cyan;
        }
      

.botones2{
  border-color: transparent;
  margin: 15px;
  width: 77%;
  height: 235PX;
  background-image: url('./assets/img/OX.jpg');
  
}
.botones3{
  border-color: transparent;
  margin: 15px;
  width: 77%;
  height: 235PX;
  background-image: url('./assets/img/TM.jpg');
  
}
.botones4{
  border-color: transparent;
  margin: 15px;
  width: 77%;
  height: 235PX;
  background-image: url('./assets/img/Fz.jpg');
  
}
#con2{
  width: 100%;
  height: 45%;
 
}
.op{
  text-decoration: none;
}
#Fila{
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

#Columna{
    width: 100%;
    height: 100%;
  
}
.container{
  border-color: white;
}
.Option{
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#BasePerfil{
  background-color: black;
  border-color: white;
  margin-bottom: 200px;
}
#perfil{
  background-color: black;
}

#bot{
  text-align: center;
  width: 50%;
  margin-left: 40%;
  margin-top: 10%;
  
}

#bot1{
  text-align: center;
  width: 50%;
  margin-left: 10%;
  margin-top: 10%;
}
#bot2{
  text-align: center;
  width: 30%;
  margin-top: 15px;;
  margin-bottom: 15px;
}
#bot3{
  text-align: center;
  width: 100%;
  background-color: teal;
}

#reloj{
  text-align: center;
}
#Bitacora{
  height:300px;
  overflow-y: scroll;
}
    
.Mal-Row {
  background-color: red;
}
.Normal-Row {
  background-color: yellow;
}

.Exelente-Row {
  background-color: greenyellow;
}

#BaseRepo{
  background-color: teal;
  text-align: center;
  margin-bottom: 100px;
}

#SubReporte{
  margin: 10px;
}

#filtroRendimiento{
  visibility: collapse;
  width: 10%;
  margin-right: 85%;
}

#datos{
  text-align:left;
}

#btnInit{
  height:100px;
  width:50%;
  border-color:white;
  margin-top:10px;
  
}

#btnInit1{
  width:50%;
  border-color:white;
  margin-top:10px;

}
#btnInit2{
  width:40%;
  border-color:white;
  margin-top:10px;
  margin-right:5%;

}

#contbtn{
  background-color:teal;
  margin-bottom:20px;
}

#labels{
  width:30%;
}

#inputs{
  margin-right:100%;
  width:20%;
}

#user{
  text-align:center;
}

#contbtn1{
  background-color: black;
  color: white;
}
#menbtn{
  width: 90%;
  margin-bottom: 10px;
 
}
#warring{
  color: yellow;
}
#btnss{
  margin-left: 30%;
  width: 50%;
  border-color: whitesmoke;
}

#Detener{
  width: 90%;
  border-color: whitesmoke;
  font-size: 25px;
}
