.App {
  text-align: center;
}

.cab{
  color: white;
}
.Hora{
  
  color: white;
}
.btn{
  border-color: transparent;
}
.botones1{
  border-color: transparent;
  margin: 15px;
  width: 77%;
  height: 235PX;
  background-image: url('./assets/img/klipartz.com.png');
  
}

.botones1:hover {

  box-shadow: inset 0 0 0 3px cyan;
  }
  .botones2:hover {

    box-shadow: inset 0 0 0 3px cyan;
    }

    .botones3:hover {

      box-shadow: inset 0 0 0 3px cyan;
      }

      .botones4:hover {

        box-shadow: inset 0 0 0 3px cyan;
        }
      

.botones2{
  border-color: transparent;
  margin: 15px;
  width: 77%;
  height: 235PX;
  background-image: url('./assets/img/OX.jpg');
  
}
.botones3{
  border-color: transparent;
  margin: 15px;
  width: 77%;
  height: 235PX;
  background-image: url('./assets/img/TM.jpg');
  
}
.botones4{
  border-color: transparent;
  margin: 15px;
  width: 77%;
  height: 235PX;
  background-image: url('./assets/img/Fz.jpg');
  
}
#con2{
  width: 100%;
  height: 45%;
 
}
.op{
  text-decoration: none;
}
#Fila{
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

#Columna{
    width: 100%;
    height: 100%;
  
}
.container{
  border-color: white;
}
.Option{
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#BasePerfil{
  background-color: black;
  border-color: white;
  margin-bottom: 200px;
}
#perfil{
  background-color: black;
}

#bot{
  text-align: center;
  width: 50%;
  margin-left: 40%;
  margin-top: 10%;
  
}

#bot1{
  text-align: center;
  width: 50%;
  margin-left: 10%;
  margin-top: 10%;
}
#bot2{
  text-align: center;
  width: 30%;
  margin-top: 15px;;
  margin-bottom: 15px;
}
#bot3{
  text-align: center;
  width: 100%;
  background-color: teal;
}

#reloj{
  text-align: center;
}